.main-header {
    position: fixed;
    top:        0;
    left:       0;
    z-index:    100; // not strictly necessary since we moved the body down 

    background-color: #2ddf5c;

    width:      100%;
    padding:    .5rem .75rem;

    // Make the header a flex container:
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    
    &__brand {
        color:          #0e4f1f;
        text-decoration: none;
        font-weight:    bold;
        font-size:      1.5rem;

        img {
            height: 1.375rem;
        }

        span {
            display: none;
            margin-left: .5rem;
            
            @media (min-width: 31.25rem) {
                display: inline;
            }
        }
    }

    // ----------------------------------------------------------------------
    .main-nav {

        // ----------------------------------------------------------------------
        // The <ul> should also be a flex with no bullets.
        &__items {
            display:    flex;
            list-style: none;
        }
 
        // ----------------------------------------------------------------------
        // Each individual <li>:
        &__item {
            font-size:   85%;
            margin-left: .5rem;

            @media (min-width: 31.25rem) {
                font-size: 100%;
                margin-left: 1rem;
            }

            // Styling for each "menu" item:
            a {
                color:           #0e4f1f;
                text-decoration: none;
                font-weight:     bold;
                padding:         3px 0;

                &:hover {
                    color: white;
                    border-bottom: 5px solid white;
                }

            }

            // Styling for the special CallToAction "menu" item:
            &--cta a {
                color:             white;
                background-color: #ff1b68;
                padding:            .5rem;
                border-radius:      8px;
                transition:         all .15s;

                &:hover,
                &:active {
                    color:          #ff1b68;
                    background-color: white;
                    border-bottom:      none;
                }
            }

        }
    }
}