.main-footer {
    margin-top:         1rem;
    padding:            1rem;
    background-color:   black;

    @media (min-width: 40rem) {
        padding:        2rem;
        margin-top:     4rem;
    }
    
    &__links {
        list-style: none;
        text-align: center;
    }
    
    &__link {
        color:      white;
        display:    block;
        margin:     1rem 0;

        @media (min-width: 40rem) {
            display: inline-block;
            margin:     0 1rem;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover,
            &:active {
                color: #ccc;
            }
        }
    }
}