.main-footer {
    margin-top:         1rem;
    padding:            1rem;
    background-color:   black;

    @media (min-width: 40rem) {
        padding:        2rem;
        margin-top:     4rem;
    }
    
    &__links {
        list-style: none;
        text-align: center;

        display:        flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 40rem) {
            flex-direction: row;
            justify-content: center;
        }

    }
    
    &__link {
        color:  white;
        margin: .5rem 0;

        @media (min-width: 40rem) {
            margin: 0 1rem;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover,
            &:active {
                color: #ccc;
            }
        }
    }
}