.main-footer {
    margin-top:         4rem;
    padding:            2rem;
    background-color:   black;
    
    &__links {
        list-style: none;
        text-align: center;
    }
    
    &__link {
        color:      white;
        display:    inline-block;
        margin:     0 1rem;

        a {
            color: white;
            text-decoration: none;

            &:hover,
            &:active {
                color: #ccc;
            }
        }
    }
}