// Override of application-wide section-title style.
.section-title {
    color: white;
    margin-bottom: 1rem;
}

// ----------------------------------------------------------------------
#key-features {
    background-color: #ff1b68;
    margin-top:         1rem;
    padding:            1rem;

    @media (min-width: 40rem) {
        margin-top:     5rem;
    }    
}

// ----------------------------------------------------------------------
.key-features__list {
    list-style: none;
    text-align: center;
}


// ----------------------------------------------------------------------
.key-feature {
    width:          100%;
    
    @media (min-width: 40rem) {
        display:        inline-block;
        max-width:      25rem;
        width:          30%;
        vertical-align: top;
    }

    &__image {
        background-color: #ffcede;
        height:             128px;
        width:              128px;
        border:             2px solid #424242;
        border-radius:      50%;
        margin:             0 auto;

        // @media (min-width: 40rem) {
        // }

        svg {
            margin-top:  1rem;
            margin-left: .5rem;

            height: 65%;
            width:  65%;
        }
    }

    &__description {
        text-align:     center;
        font-weight:    bold;
        color:          white;
        font-size:      1.25rem;
    }
}