#product-overview {
    // background: url("https://ak9.picdn.net/shutterstock/videos/20869759/thumb/4.jpg");
    background: url('src/assets/freedom.jpg');
    
    // background-image: linear-gradient(red, transparent);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%; // 20px 50px;
    // background-origin: ;
    // background-clip: ;


    // // The first/traditional syntax is simply shorthand for the 3 properties that follow:
    // // border: 5px solid black;
    // border-width: 5px;
    // border-style: solid;
    // border-color: black;
    
    padding: .6rem;;
    //margin: 1.25rem;
    
    width: 100vw;
    // height: 428px;
    height: 60vh;

    position: relative;
    
    
    h1 {
        color: white;
        font-family: 'Anton', sans-serif;

        position: absolute;
        top:    5%;
        right:  5%;
    }
}
