/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     font-size: 62.5%;
// }

body {
    font-family: 'Montserrat', sans-serif;
    // font-size: 90%;
    // margin: 0;

    // This moves the body out of the way of the header component that is at the top.
    margin-top: 2.625rem;
}

main {
    min-height: calc(100vh - 12.5rem);

    @media (min-width: 40px) {
        min-height: calc(100vh - 12rem);
    }
}

.clearfix {
    clear: both;

    &::after {
        content:    "";
        display:    table;
        clear:      both;
    }
}

.section-title {
    color: #2ddf5c;
    text-align: center;
    padding: 8px 0;
}

.button {
    background-color: #0e4f1f;
    border:         1.5px solid #0e4f1f;
    color:          white;
    font:           inherit;
    font-weight:    bold;
    padding:        .5rem;
    border-radius:  8px;
    cursor:         pointer;

    &:hover {
        background-color: white;
        color: #0e4f1f;
    }

    &:focus {
        outline: none;
    }

}
