.plan__list {
    @media (min-width: 40rem) and (orientation: landscape) {
        width:      100%;
        text-align: center;
        margin:     auto;
        // width:  90%;
    }
}


.plan {
    background-color: #d5ffdc;
    text-align:     center;
    padding:        1rem;
    margin:         .25rem 0;
    
    @media (min-width: 40rem) {
        margin:         .5rem;
        display:        inline-block;
        vertical-align: middle;
        width:          30%;
        min-width:      13rem;
        max-width:      25rem;
    }

    &__title {
        color: #0e4f1f;
        font-weight: bold;
        //margin: .5rem 0;
    }

    &__price {
        color: #858585;
    }

    &--highlighted {
        background-color: #19b84c;
        color: white;
        
        @media (min-width: 40rem) {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        }

        .plan__title {
            color: white;
        }

        .plan__price {
            color: #0e4f1f;
        }
    }
    
    &__annotation {
        background-color: white;
        padding:            .5rem;
        color:              #19b84c;
        box-shadow:         1px 1px 2px 2px rgba(0, 0, 0, 0.5);
        border-radius:      8px;
        margin-bottom:      .5rem;
        margin-left:        3rem;
        margin-right:       3rem;

        @media (min-width: 40rem) {
            margin-left:    0;
            margin-right:   0;
        }
        
    }

    &__features {
        list-style: none;
    }

    &__feature {
        margin: .5rem 0;
    }

    .button {
        background-color: #0e4f1f;
        border:         1.5px solid #0e4f1f;
        color:          white;
        font:           inherit;
        font-weight:    bold;
        padding:        .5rem;
        border-radius:  8px;
        cursor:         pointer;

        &:hover {
            background-color: white;
            color: #0e4f1f;
        }

        &:focus {
            outline: none;
        }

    }
}